.Items {
    margin-bottom: 20px;
    position: relative;

    input {
        width: 100px;
    }

    button {
        position: absolute;
        top: -30px;
        right: 0px;
        width: 20px !important;
        height: 20px !important;
    }
}