.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxBgColor1 {
    background: #eedcdc;
}

.boxBgColor2 {
    background: #9cd28e;
}

.boxBgColor3 {
    background: #dddddd;
}